{% extends "FOSUserBundle::layout-login.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    
     <div class="col-md-4 offset-md-4 col-xs-8 offset-xs-2 box-shadow-2 p-0 clearfix mb-3">
        <div class="card border-grey border-lighten-3 px-2 py-2 row mb-0">
            <div class="card-header no-border">
                <h3 class="card-title mt-1 text-xs-center">RECUPERAR CONTRASEÑA</h3>
                <p class="card-subtitle line-on-side text-muted text-xs-center font-small-3 pt-2"><span> </span></p>
            </div>
            <div class="card-body collapse in">
                <div class="card-block pt-0">
                    <p>{{ 'resetting.password_already_requested'|trans }}</p>
                </div> 

                <div class="card-block pb-0 {% if qP.layout is not defined%}loginNaccount{% endif%}">
                    <p class="text-xs-center">{{'layout.msj_login_ini1'|trans({}, 'AppBundle')}} <a href="{% if qP.guess is defined%} {{ url('patientssharemedicalhistory_view_guess',{'token':qP.tkG}) }} {%else%} {{ url('patients_register') }} {%endif%}">{{'layout.msj_login_ini2'|trans({}, 'AppBundle')}}</a>&nbsp;</p>
                    <p class="text-xs-center ContOlvContr {% if qP.layout is not defined%}ContOlvContrInLine{% endif%}"> <a href="{{ path('fos_user_security_login') }}" class="olvContr">Iniciar</a></p>  
                </div><!--campo-->

            </div>
        </div>
    </div>
{% endblock fos_user_content %}
