{% extends '::base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block body -%}

    <section id="basic-form-layouts">
        <div class="row ">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header no-border">
                        <h3 class="card-title mt-1 text-xs-center">REGISTRARSE</h3>
                        <div class="headerfb">
                            <p class="card-subtitle line-on-side text-muted text-xs-center font-small-3 pt-1"><span>{{'patients.new.msj_instruction3'|trans({}, 'AppBundle')}}</span></p>
                            <div class="text-xs-center mb-1">
                                <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
                                <!--a href="{{url('facebook_login', { 'type': 'facebook' })}}" class="btn btn-social-icon btn-outline-facebook "  id="_submit_f" name="_submit_f"  ><span class="icon-facebook3"></span></a-->

                            </div>

                            <p class="card-subtitle line-on-side text-muted text-xs-center font-small-3 "><span>o registra una cuenta</span></p>
                        </div>
                    </div>
                    <div class="card-body collapse in">

                        <div class="card-block mt-0">
                            <div class="card-text">                                

                            </div>

                            <div>
                                {{ form_start(form,{'attr': {'class': 'registerFront','id': 'registerPatient'}}) }}
                                <div class=" ">

                                    <div class=" form-body registroFormulario dos register-user">


                                        {% if messages is not defined  %}
                                {% set messages = [] %}
                            {%endif %}
                                        {% if messages is not defined  %}
                                            {% for child in form.children %}
                                                {% for error in child.vars.errors %}
                                                    {% set messages = messages|merge([child.vars.label  ~ ' ' ~ error.message]) %}
                                                {% endfor %}
                                            {% endfor %}
                                        {% endif %}

                                        <div class="rowError" {% if messages is defined and messages|length %}style="display: block"{% else %}style="display: none"{% endif %}>
                                            <div class="alert bg-warning alert-icon-right alert-arrow-right alert-dismissible fade in" role="alert">
                                                <button type="button" class="close" data-dismiss="" id="btnError" aria-label="Close">
                                                    <span aria-hidden="true" class=" warning ">×</span>
                                                </button>
                                                <span id="itemError">
                                                    {% for message in messages %}                                                    
                                                        <strong> {{ message }}<br></strong> 
                                                        {% endfor %}
                                                    <strong>{{ form_errors(form) }}</strong> 
                                                </span>
                                            </div>
                                        </div><!--row-->

                                        <fieldset class="form-group position-relative">
                                            <div class="col-md-6">
                                                {{ form_row(form.user.name,{'attr':{'class':"form-control input-lg",'placeholder':'Nombre'} }) }}
                                            </div>
                                            <div class="col-md-6">
                                                {{ form_row(form.user.lastname,{'attr':{'class':"form-control input-lg",'placeholder':'Apellido'} }) }}
                                            </div>
                                        </fieldset>
                                        <fieldset class="form-group position-relative">
                                            <div class="col-md-6">
                                                {{ form_row(form.user.email,{'attr':{'class':"form-control input-lg",'placeholder':'Correo'} }) }}
                                            </div>
                                            <div class="col-md-6">
                                                {{ form_row(form.user.username,{'attr':{'class':"form-control input-lg",'placeholder':'Usuario'} }) }}
                                            </div>
                                        </fieldset>

                                        <div class="form-group position-relative">
                                            <div class="col-md-6">
                                                <label class="">Contraseña*:</label>
                                                <div class="" >                                       
                                                    {{ form_widget(form.user.plainPassword.first, {'attr': { 'class':'form-control','pattern':"(?=.*\\d)(?=.*[a-z]).{6,}",'title':"La contraseña debe contener al menos 6 caracteres, incluyendo solo minúscula y números"} }) }}
                                                    
                                                    {% for errorItem in form.user.plainPassword.first.vars.errors %}
                                                        <label class="control-label has-error" for="{{ form.user.plainPassword.vars.id }}">{{ errorItem.message }}</label>
                                                    {% endfor %}
                                                    
                                                </div>    
                                            </div><!--campoRight-->
                                            <div class="col-md-6"> 
                                                <label class="">Repita la contraseña*:</label>                                    
                                                <div class="">
                                                    {{ form_widget(form.user.plainPassword.second, {'attr': {'class':'form-control','pattern':"(?=.*\\d)(?=.*[a-z]).{6,}",'title':"La contraseña debe contener al menos 6 caracteres, incluyendo solo minúscula y números"} }) }}
                                                </div>                                     
                                            </div><!--campoLeft-->
                                            <div class="col-md-12">                                               
                                                <p class="tag-default tag-warning block-tag text-xs-left p-1px">
                                                    <small class="block-area white">La contraseña debe contener al menos 6 caracteres, incluyendo solo letras minúsculas y números</small>
                                                </p>                                                
                                            </div>                                              
                                        </div><!--registroCampo doble-->
                                        <div class="">

                                            <div class="input-group">
                                                <label class="display-inline-block custom-control custom-checkbox ml-1">
                                                    <input type="checkbox" name="customer1" required="required" class="checker  custom-control-input">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description ml-0"><sup>*</sup>Acepto los <a target="_blank" href="{{ url('terminos') }}">Términos del servicio</a></span>
                                                </label>

                                            </div>

                                        </div><!--registroCampo-->   
                                        <div class="p-1">
                                            <p class="small color-verdeg">{{'patients.new.msj_instruction1'|trans({}, 'AppBundle')}}</p><!--letraPequena-->
                                            <p class="small color-verdeg">{{'patients.new.msj_instruction2'|trans({}, 'AppBundle')}}</p><!--letraMediana-->        
                                        </div>
                                        <div class="form-actions right">
                                            <a href="https://www.medeconsult.com/" class="btn btn-warning mr-1">Cancelar</a>
                                            <input type="submit" value="{{'form.pushon'|trans({}, 'AppBundle')}}" id="continuar-reg"  class="submit btn btn-primary">        
                                        </div>

                                    </div><!--registroFormulario dos-->    

                                    <div class="registroFormulario tres register-profile" style="display: none">

                                        <div class=" form-body">
                                            <fieldset id="fieldsPatient" >

                                                <fieldset class="form-group position-relative">
                                                    <div class="col-md-6">
                                                        {{ form_row(form.address1,{'attr':{'class':"form-control input-lg",'placeholder':'Dirección'} }) }}
                                                    </div><div class="col-md-6">
                                                        {{ form_row(form.address2,{'attr':{'class':"form-control input-lg",'placeholder':'Dirección'} }) }}
                                                    </div>
                                                </fieldset>
                                                <fieldset class="form-group position-relative">
                                                    <div class="col-md-6">
                                                        {{ form_row(form.country,{'attr':{'class':"form-control input-lg",'placeholder':'País'} }) }}
                                                    </div><div class="col-md-6">
                                                        {{ form_row(form.province,{'attr':{'class':"form-control input-lg",'placeholder':'Provincia'} }) }}
                                                    </div>
                                                </fieldset>
                                                <fieldset class="form-group position-relative">
                                                    <div class="col-md-6">
                                                        {{ form_row(form.locality,{'attr':{'class':"form-control input-lg",'placeholder':'Localidad'} }) }}
                                                    </div><div class="col-md-6">
                                                        {{ form_row(form.postalcode,{'attr':{'class':"form-control input-lg",'placeholder':'Código postal'} }) }}
                                                    </div>
                                                </fieldset>
                                                <fieldset class="form-group position-relative">
                                                    <div class="col-md-6">
                                                        {{ form_row(form.timezone,{'attr':{'class':"form-control input-lg",'placeholder':'Zona Postal'} }) }}
                                                    </div><div class="col-md-6">
                                                        {{ form_row(form.phone,{'attr':{'class':"form-control input-lg",'placeholder':'Teléfono'} }) }}
                                                    </div>
                                                </fieldset>
                                                <fieldset class="form-group position-relative">
                                                    <div class="col-md-6">
                                                        {{ form_row(form.website,{'attr':{'class':"form-control input-lg",'placeholder':'Sitio Web'} }) }}
                                                    </div><div class="col-md-6">
                                                        {{ form_row(form.birthdate,{'attr':{'class':"form-control input-lg",'placeholder':'Fecha Nacimiento'} }) }}
                                                    </div>
                                                </fieldset>

                                                <div class="form-group">
                                                    <div class="col-md-12 text-xs-center">
                                                        {% form_theme form 'EWZRecaptchaBundle:Form:ewz_recaptcha_widget.html.twig' %}

                                                        {{ form_widget(form.recaptcha, { 'attr': {
                                                    'options' : {
                                                        'theme': 'light',
                                                        'type': 'image',
                                                        'size': 'normal'
                                                    },
                                                } }) }}
                                                    </div>
                                                </div><!--campoPrefesionales-->

                                            </fieldset>
                                            <div class="p-1">
                                                <p class="small color-verdeg">{{'patients.new.msj_instruction1'|trans({}, 'AppBundle')}}</p><!--letraPequena-->
                                                <p class="small color-verdeg">{{'patients.new.msj_instruction2'|trans({}, 'AppBundle')}}</p><!--letraMediana-->
                                            </div>
                                        </div>
                                        <div class="form-actions right">
                                            <button type="button" class="btn btn-warning mr-1 back">
                                                <i class="icon-cross2"></i> {{'form.goback'|trans({}, 'AppBundle')}}
                                            </button>
                                            <button type="submit" class="btn btn-primary">
                                                <i class="icon-check2"></i> {{ 'registration.submit'|trans }}
                                            </button>

                                        </div>
                                    </div><!--registroFormulario dos-->
                                </div>


                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>


    </section>





{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#appbundle_patients_user").parent().find("label").remove();
            $(".register-profile").hide();
            $("label.required").each(function () {
                $(this).html($(this).html() + "*");
            })

            $("form input,select").change(function () {
                $("#itemError").html("");
                $(".rowError").hide();
            });

            var form = document.getElementById('registerPatient');
            var btncont = false;
            form.addEventListener('submit', function (event) {

                if (this.checkValidity() && btncont) {
                    event.preventDefault();

                    var path = '{{ path("patients_verify", {'email': '_e', 'username': '_u'}) }}';
                    path = path.replace("_e", $("#appbundle_patients_user_email").val());
                    path = path.replace("_u", $("#appbundle_patients_user_username").val());
                    $.getJSON(path, function (data) {

                        if (data.email === true || data.username === true) {
                            if (data.email === true)
                                $("#itemError").html("<strong> {{'form.emailexist'|trans({}, 'AppBundle')}}<br></strong> ");
                            if (data.username === true)
                                $("#itemError").append("<strong> {{'form.userexist'|trans({}, 'AppBundle')}}<br></strong> ");
                            $(".rowError").show();
                            $("#btnError").focus();
                        } else {
                            $(".register-profile").show();
                            $(".register-user").hide();
                            $(".headerfb").hide();
                            $("#fieldsPatient").removeAttr("disabled");
                            btncont = false;
                        }
                    });



                }

            }, false);
            $("#fieldsPatient").attr("disabled", "disabled");

            $('#continuar-reg').click(function () {
                btncont = true;
                if ($("#appbundle_patients_user_plainPassword_first").val() !== $("#appbundle_patients_user_plainPassword_second").val()) {
                    $("#appbundle_patients_user_plainPassword_second").focus();
                    document.getElementById("appbundle_patients_user_plainPassword_second").setCustomValidity("Por favor, introduzca la misma contraseña.");

                } else {
                    document.getElementById("appbundle_patients_user_plainPassword_second").setCustomValidity("");
                }

            });

            $('.back').click(function () {
                $(".register-profile").hide();
                $(".headerfb").show();
                $(".register-user").show();
                btncont = false;
                $("#fieldsPatient").attr("disabled", "disabled");
            });
            $('#btn-cal').click(function () {
                $("#appbundle_patients_birthdate").datepicker().focus();
            });




        });
    </script>


{% endblock %}

