{% extends '::basecropingimage.html.twig' %}

{% block pluginsinner %}
    {% include "ComurImageBundle:Form:croppable_image_modal.html.twig" with {'include_jquery': false, 'include_bootstrap': false} %}
{% endblock %}

{% block  javascripthead %}
    <script src="{{ asset('bundles/app/md-assets/vendors/js/extensions/jquery-file-upload/vendor/jquery.ui.widget.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/md-assets/vendors/js/extensions/jquery-file-upload/vendor/load-image.all.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/md-assets/vendors/js/extensions/jquery-file-upload/vendor/canvas-to-blob.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/md-assets/vendors/js/extensions/jquery-file-upload/vendor/jquery.blueimp-gallery.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/md-assets/vendors/js/extensions/jquery-file-upload/jquery.iframe-transport.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/md-assets/vendors/js/extensions/jquery-file-upload/jquery.fileupload.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/md-assets/vendors/js/extensions/jquery-file-upload/jquery.fileupload-process.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/md-assets/vendors/js/extensions/jquery-file-upload/jquery.fileupload-image.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/md-assets/vendors/js/extensions/jquery-file-upload/jquery.fileupload-audio.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/md-assets/vendors/js/extensions/jquery-file-upload/jquery.fileupload-video.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/md-assets/vendors/js/extensions/jquery-file-upload/jquery.fileupload-validate.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/md-assets/vendors/js/extensions/jquery-file-upload/jquery.fileupload-ui.js') }}" type="text/javascript"></script>
    
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" id="horz-layout-basic">Configurar perfíl</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">

                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block">
                        <div class="row" style="height:90%; ">        
                            <div class="col-xs-12 col-md-12 col-lg-12 pacientesRight">
                                <div class="docHomeIntScroll mCustomScrollbar">
                                    <div class="pacientesRightEspacio">

                                        <div class="configurarCuenta dos" style="margin-top:-3%;">
                                            {{ form_start(form,{'attr': {'class': 'form configurarCuentaFormulario','id': 'editprofilePatient'}}) }}
                                            <div class="form-body">

                                                {% set messages = [] %}
                                                {% for child in form.children %}
                                                    {% for error in child.vars.errors %}
                                                        {% set messages = messages|merge([child.vars.label  ~ ': ' ~ error.message]) %}
                                                    {% endfor %}
                                                {% endfor %}

                                                <div class="row rowError" {% if messages|length %}style="display: block"{% else %}style="display: none"{% endif %}>
                                                    <div class="alert bg-warning alert-icon-right alert-arrow-right alert-dismissible fade in" role="alert">
                                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                                        {% for message in messages %}                                                    
                                                            <strong> {{ message }}<br></strong> 
                                                            {% endfor %}
                                                    </div>
                                                </div><!--row-->
                                                <div class="row ">
                                                    <div class="confgCuentFormCampo">
                                                        <label for="foto">Actualizar foto de perfíl <sup>*</sup></label>
                                                        <div class="photoFront photoFrontLeft">
                                                            {{ form_widget(form.photo) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" style="height:100%;">

                                                    <div class="col-xs-12 col-md-6 col-lg-6 mt-1">
                                                        <h4 class="form-section"><i class="icon-head"></i> Personal Info</h4>
                                                        <div class="row">
                                                            <div class="form-group col-md-6 mb-2">
                                                                <label for="projectinput1">Nombre*</label>
                                                                {{ form_widget(form.user.name, {'attr': {'class': 'form-control'}}) }}
                                                            </div>
                                                            <div class="form-group col-md-6 mb-2">
                                                                <label for="projectinput1">Apellido</label>
                                                                {{ form_widget(form.user.lastname, {'attr': {'class': 'form-control'}}) }}
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="form-group col-md-12 mb-2">
                                                                <label for="projectinput1">Fecha de Nacimiento*</label>
                                                                {{ form_widget(form.birthdate, {'attr': {'class': 'form-control'}}) }}
                                                            </div>
                                                        </div><!--confgCuentFormCampo-->

                                                        <div class="row">
                                                            <div class="form-group col-md-12 mb-2">
                                                                <label for="projectinput1">Género*</label>
                                                                {{ form_widget(form.gender, {'attr': {'class': 'form-control'}}) }}
                                                            </div>
                                                        </div><!--confgCuentFormCampo-->
                                                        {% if entity.user.facebookId=='' %} 
                                                            <div class="row">
                                                                <div class="form-group col-md-12 mb-2">
                                                                    <label for="projectinput1">Correo*</label>
                                                                    {{ form_widget(form.user.email, {'attr': {'class': 'form-control'}}) }}
                                                                </div>
                                                            </div><!--confgCuentFormCampo-->   
                                                        {% endif %}

                                                        {% if entity.user.facebookId=='' %} 
                                                            <div class="row">
                                                                <div class="form-group col-md-12 mb-2"> 
                                                                    <label for="projectinput1">Contraseña*</label>
                                                                    {{ form_widget(form.user.plainPassword.first, {'attr': {'class': 'form-control', 'pattern':"(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{8,}",'title':"La contraseña debe contener al menos 6 caracteres, incluyendo MAYUSCULA/minúscula y números"} }) }}
                                                                    {% for errorItem in form.user.plainPassword.first.vars.errors %}
                                                                        <label class="control-label has-error" for="{{ form.user.plainPassword.vars.id }}">{{ errorItem.message }}</label>
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="form-group col-md-12 mb-2">     
                                                                    <label class="">Repita la contraseña*:</label>                                    
                                                                    <div>
                                                                        {{ form_widget(form.user.plainPassword.second, {'attr': {'class': 'form-control', 'pattern':"(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{8,}",'title':"La contraseña debe contener al menos 6 caracteres, incluyendo MAYUSCULA/minúscula y números"} }) }}
                                                                    </div>
                                                                </div><!--confgCuentFormCampo-->
                                                            </div>
                                                        {% else %}
                                                            <div class="row">
                                                                <div class="form-group col-md-12 mb-2"> 
                                                                    {{ form_row(form.user.email, {'attr': {'class': 'form-control'}}) }}
                                                                </div>
                                                            </div><!--confgCuentFormCampo-->   
                                                        {% endif %}

                                                    </div><!--col-xs-12 col-md-4 col-lg-4-->

                                                    <div class="col-xs-12 col-md-6 col-lg-6 mt-1">
                                                        <h4 class="form-section"><i class="icon-mail6"></i> Contact Info </h4>
                                                        <div class="row">
                                                            <div class="form-group col-md-12 mb-2"> 
                                                                <label for="projectinput1">Teléfono*</label>
                                                                {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
                                                            </div>
                                                        </div><!--confgCuentFormCampo-->
                                                        <div class="row">
                                                            <div class="form-group col-md-6 mb-2">
                                                                <label for="projectinput1">Dirección*</label>
                                                                {{ form_widget(form.address1, {'attr': {'class': 'form-control'}}) }}
                                                            </div><!--confgCuentFormCampo-->

                                                            <div class="form-group col-md-6 mb-2">
                                                                <label for="projectinput1">Dirección 2</label>
                                                                {{ form_widget(form.address2, {'attr': {'class': 'form-control'}}) }}
                                                            </div><!--confgCuentFormCampo-->
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-md-12 mb-2"> 
                                                                <label for="projectinput1">País*</label>
                                                                {{ form_widget(form.country, {'attr': {'class': 'form-control'}}) }}
                                                            </div>
                                                        </div><!--confgCuentFormCampo-->
                                                        <div class="row">
                                                            <div class="form-group col-md-6 mb-2">
                                                                <label for="projectinput1">Provincia*</label>
                                                                {{ form_widget(form.province, {'attr': {'class': 'form-control'}}) }}
                                                            </div><!--dobleLeft-->
                                                            <div class="form-group col-md-6 mb-2">
                                                                <label for="projectinput1">Localidad*</label>
                                                                {{ form_widget(form.locality, {'attr': {'class': 'form-control'}}) }}
                                                            </div><!--dobleRight-->
                                                        </div><!--confgCuentFormCampoDoble-->
                                                        <div class="row">
                                                            <div class="form-group col-md-6 mb-2">
                                                                <label for="projectinput1">Código Postal*</label>
                                                                {{ form_widget(form.postalcode, {'attr': {'class': 'form-control'}}) }}
                                                            </div><!--dobleLeft-->
                                                            <div class="form-group col-md-6 mb-2">
                                                                <label for="projectinput1">Zona Horaria*</label>
                                                                {{ form_widget(form.timezone, {'attr': {'class': 'form-control'}}) }}
                                                            </div><!--dobleRight-->
                                                        </div><!--confgCuentFormCampoDoble-->
                                                        <div class="row">
                                                            <div class="form-group col-md-12 mb-2"> 
                                                                <label for="projectinput1">Sitio Web</label>
                                                                {{ form_widget(form.website, {'attr': {'class': 'form-control'}}) }}
                                                            </div> 
                                                        </div><!--confgCuentFormCampo-->

                                                    </div><!--col-xs-12 col-md-4 col-lg-4-->
                                                </div><!--row--> 
                                                <span class="docError dos">Todos los campos con el asterisco ('*') son obligatorios.</span><!--docError-->
                                            </div>


                                            <div class="form-actions right">
                                                <a  href="{{homepage}}" class="btn btn-warning mr-1">
                                                    <i class="icon-cross2"></i> Cancelar
                                                </a>
                                                <button type="submit" id="btnEditar" class="btn btn-primary">
                                                    <i class="icon-check2"></i> Guardar
                                                </button>
                                            </div>

                                            {{ form_end(form) }}<!--configurarCuentaFormulario-->                        
                                        </div><!--configurarCuenta-->
                                    </div><!--pacientesRightEspacio-->
                                </div><!--docHomeIntScroll mCustomScrollbar-->
                            </div><!--pacientesRight-->
                        </div><!--row-->   
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block javascripts %}
    
    
    <script type="text/javascript">
        $(document).ready(function () {
            $("#appbundle_patients_edit_user").parent().find("label").remove();

            var form = document.getElementById('editprofilePatient');

            form.addEventListener('submit', function (event) {

                if ($("#appbundle_patients_edit_user_plainPassword_first").val() !== $("#appbundle_patients_edit_user_plainPassword_second").val()) {
                    $("#appbundle_patients_edit_user_plainPassword_second").focus();
                    document.getElementById("appbundle_patients_edit_user_plainPassword_second").setCustomValidity("Por favor, introduzca la misma contraseña.");
                    event.preventDefault();
                    return;
                } else {
                    document.getElementById("appbundle_patients_edit_user_plainPassword_second").setCustomValidity("");
                }

            }, false);

            document.getElementById("btnEditar").addEventListener("click", function () {
                var p1 = document.getElementById('appbundle_patients_edit_user_plainPassword_first');
                var p2 = document.getElementById('appbundle_patients_edit_user_plainPassword_second');
                if (p1.nodeValue === null && p2.nodeValue === null) {
                    p1.removeAttribute("required");
                    p2.removeAttribute("required");
                } else {
                    p1.setAttribute("required", "required");
                    p2.setAttribute("required", "required");
                }

            });
        });
    </script>



{% endblock %}

