{# empty Twig template #}
<table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
    <tr>
        <td height="130" valign="middle" align="center"><img src="{{ asset('images/pic_medeconsult.png', absolute=true) }}" alt="medeconsult" /></td>
    </tr>
    <tr>
        <td bgcolor="#90a5d4">
            <table width="560" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                    <td height="185" valign="middle" align="center"><img src="{{ asset('images/pic_holausuario.png', absolute=true) }}" alt="hola" /></td>
                </tr> 
                <tr>
                    <td height="1" valign="middle" align="center"><img src="{{ asset('images/pic_linea.png', absolute=true) }}" alt="linea"  width="460" height="1" /></td>
                </tr> 
                <tr>
                    <td  valign="top" align="center"><font face="'Dosis', Arial, Lucida">
                        <p><font size="3" color="#485b83"><strong>{{username}}</strong></font></p>
                        <p><font size="5" color="#ffffff">&iexcl;GRACIAS POR REGISTRARTE<br />PARA COMPLETAR LA VALIDACIÓN DE TU CUENTA </p></font>
                        </font>
                    </td>
                </tr>
                <tr>
                    <td height="10" valign="top" align="center"><img src="{{ asset('images/pic_transp.png', absolute=true) }}" alt="espacio"  width="1" height="10" /></td>
                </tr>
                <tr>
                    <td height="1" valign="middle" align="center"><img src="{{ asset('images/pic_linea.png', absolute=true) }}" alt="linea"  width="460" height="1" /></td>
                </tr> 
                <tr>
                    <td  valign="top" align="center"><font face="'Dosis', Arial, Lucida" size="3" color="#485b83">
                        <a href="{{confirmationUrl}}" > POR FAVOR HAZ CLIC AQUÍ</a></font>
                    </td>
                </tr>            
                <tr>
                    <td height="10" valign="top" align="center"><img src="{{ asset('images/pic_transp.png', absolute=true) }}" alt="espacio"  width="1" height="10" /></td>
                </tr>
                <tr>
                    <td height="1" valign="middle" align="center"><img src="{{ asset('images/pic_linea.png', absolute=true) }}" alt="linea"  width="310" height="1" /></td>
                </tr> 
                <tr>
                    <td  valign="top" align="center"><font face="'Dosis', Arial, Lucida" size="3" color="#ffffff">
                        <p>ATENTAMENTE EL EQUIPO DE MEDECONSULT</p>
                        </font>
                    </td>
                </tr>
                <tr>
                    <td height="1" valign="middle" align="center"><img src="{{ asset('images/pic_linea.png', absolute=true) }}" alt="linea"  width="310" height="1" /></td>
                </tr>
                <tr>
                    <td height="25" valign="top" align="center"><img src="{{ asset('images/pic_transp.png', absolute=true) }}" alt="espacio"  width="1" height="25" /></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
