{% extends '::baseadm.html.twig' %}

{% block body -%}
    <h1>MedicalFormsFieldsets</h1>

     <table  cellpadding="0" cellspacing="0" border="0" width="90%"  class="tablaAdm tableShow">
        <tbody>
            <tr>
                <th>Label</th>
                <td >{{ entity.label }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td >{{ entity.position }}</td>
            </tr>            
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('medicalforms_show',{'id':idf}) }}" class="submit btnAdm lilaOscuro">
                Volver 
            </a>
        </li>
        <li>
            <a href="{{ path('medicalformsfieldsets_edit', { 'id': entity.id }) }}"  class="submit btnAdm rojoFuerte">
                Editar
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
