{% extends '::basemedphysicians.html.twig' %}

{% block body -%}


    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block" style="">
                    Para crear su formulario use la estructura base que ofrece la heramienta seleccionando campos ya creados o creando los campos que necesite en la opción crear campo. 
                    Adicionalmente puede indicar si el campo es requerido o no.
                </div> 
            </div>               
        </div>

        <div class="card">
            <div class="card-header">
                <h4 class="card-title" id="horz-layout-basic">Editar pregunta </h4>

            </div>
            <div class="card-body">
                <div class="card-block" style="padding: 3.4rem;">
                    <div class="row">

                        <div class="form-body">

                            {{ form_start(edit_form,{ 'attr': {'class': 'formAmd'} }) }}
                            {% if messages is not defined  %}
                                {% set messages = [] %}
                            {%endif %}



                            <div class="row rowError" {% if (messages|length or not edit_form.vars.valid) %}style="display: block"{% else %}style="display: none"{% endif %}>
                                <div class="col-xs-12" >
                                    <div class="alert  alert-warning alert-dismissible fade in mb-2" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        {% for message in messages %}                                                    
                                            <strong> {{ message }}<br></strong> 
                                            {% endfor %}
                                            {% if not edit_form.vars.valid %}
                                                {# Loop through every form item #}
                                                {% for child in edit_form.children %}
                                                    {# Display the errors of the form item #}
                                                    {%for error in child.vars.errors%}
                                                    <strong>{{error.message}}<br></strong> 
                                                    {%endfor%}
                                                {%endfor%}

                                        {%endif%}

                                    </div>
                                </div><!--col-xs-12-->
                            </div><!--row-->

                            <fieldset class="form-group position-relative  mb-1">
                                <label for="inputName1" class="col-sm-3 form-control-label">Pregunta</label>
                                <div class="col-sm-9">{{ form_widget(edit_form.label,{'attr': {'class': 'form-control', 'placeholder':"Tipo de Campo"} } ) }}</div>
                            </fieldset>


                            <fieldset class="form-group position-relative  mb-1 hidden datainput formfieldTa">

                                <div class="label-data">
                                    <label for="inputName1" class="col-sm-3 form-control-label">{{ form_label(edit_form.data) }}</label>
                                    <div class="col-sm-9"><p class="help-data">
                                            Escriba un valor por línea, en el formato clave|etiqueta. La clave es el valor guardado. La etiqueta será usada en los valores mostrados y en formularios de edición. La etiqueta es opcional: si una línea contiene un solo texto, se usará como clave y etiqueta.
                                        </p>
                                        <div class="input-data">{{ form_widget(edit_form.data,{'attr': {'class': 'form-control', 'placeholder':"clave|etiqueta"} } ) }}</div>
                                    </div>
                                </div>


                            </fieldset>


                            <fieldset class="form-group position-relative  mb-1">
                                <label for="inputName1" class="col-sm-3 form-control-label">Requerido</label>
                                <div class="col-sm-9">{{ form_widget(edit_form.required,{'attr': {'class': 'form-control'} } ) }}</div>
                            </fieldset>



                            {% if config.extra is defined %}
                                {{ config.extra | raw }}
                            {% endif %}
                            {% if config.required is defined %}
                                {{ config.required | raw }}
                            {% endif %}
                            {% if config.showlabel is defined %}
                                {{ config.showlabel | raw }}
                            {% endif %}

                            <div class="form-actions right">   
                                <a  href="{{ path('medical_forms_views_edit_med',{'id':idfv}) }}" class="btn btn-warning mr-1">
                                    <i class="icon-cross2"></i> Cancelar
                                </a>                                                              
                                <button type="submit" class="btn btn-danger">
                                    <i class="icon-cross2"></i> Editar
                                </button>

                            </div>



                            {{ form_end(edit_form) }}





                        </div><!--formbody-->       




                    </div>
                </div>

            </div>
        </div>
    </div>



{% endblock %}





{% block javascripts %}
    <script>
        $(document).ready(function () {
            if ($("#cardinality_val").val() !== "") {
                $("#field_conf_cardinality").val($("#cardinality_val").val());
            }
        });
    </script>
{% endblock %}